{% extends 'base.html' %}
{% block title %}アカウント編集{% endblock %}

{% block content %}

    <div class="account-container">
        <div class="account-box">
            <p>アカウント編集</p>

            <form method="post">
                {% csrf_token %}
                <div class="input_item">
                    <label for="name">ユーザ名：</label>
                    <input type="text" id="name" name="name" value="{{ user.name }}" class="input_item_text">
                </div>
                {% if error_message %}
                    <div class="text-error">
                        {{ error_message }}
                    </div>
                {% endif %}

                <button type="submit" class="button_decision">更新</button>
            </form>
        </div>
    </div>

{% endblock content %}