{% extends 'base.html' %}
{% block title %}トップ{% endblock %}

{% block content %}

    <div class="container">
        <form method="get" action="{% url 'play:start' %}">
            <div class="box">
                <p>問題にチャレンジ！</p>
                <button class="button_home button_choice" name="rank" value="choice">選択問題</button>
                {% if user.level >= 3 %}
                    <button class="button_home button_input" name="rank" value="input">記述問題</button>
                {% endif %}
            </div>
        </form>
        <div class="box box-achievements">
            <p>実績を確認！</p>
            <a href="{% url 'history:ranking' %}">
                <button class="button_home">ランキング</button>
            </a>

            <a href="{% url 'history:challenge' %}">
                <button class="button_home">履歴</button>
            </a>

            <a href="{% url 'history:incorrect' %}">
                <button class="button_home">不正解一覧</button>
            </a>

        </div>
    </div>

{% endblock content %}
