{% extends 'base.html' %}
{% block title %}トップ{% endblock %}

{% block content %}

    <div class="container">
        <div class="box">
            <p>問題にチャレンジ！</p>
            <button class="button_Beginner">初級編</button>
            <button class="button_Intermediate">中級編</button>
            <button class="button_Advanced">上級編</button>
        </div>
        <div class="box">
            <p>実績</p>
            <button>ランキング</button>
            <button>履歴</button>
            <button>不正解一覧</button>
        </div>
    </div>

{% endblock content %}
