{% extends 'base.html' %}
{% block title %}問題編集{% endblock %}

{% block content %}

    <div class="question_container">
        <div class="question-area">

            <h1>問題編集</h1>

            <form method="post">
                {% csrf_token %}

                <div class="question_create_area">
                    <label for="{{ form.rank_id.id_for_label }}" class="form-label">
                        ランク
                    </label>
                    <br>
                    {{ form.rank_id }}
                    {% if form.rank_id.errors %}
                        <div class="text-danger small">
                            {{ form.rank_id.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                    <label for="{{ form.question.id_for_label }}" class="form-label">
                        問題文
                    </label>
                    <br>
                    {{ form.question }}
                    {% if form.question.errors %}
                        <div class="text-danger small">
                            {{ form.question.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                    <label for="{{ form.choice_1_for_label }}" class="form-label">
                        選択肢1
                    </label>
                    <br>
                    {{ form.choice_1 }}
                    {% if form.choice_1.errors %}
                        <div class="text-danger small">
                            {{ form.choice_1.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                    <label for="{{ form.choice_2_for_label }}" class="form-label">
                        選択肢2
                    </label>
                    <br>
                    {{ form.choice_2 }}
                    {% if form.choice_2.errors %}
                        <div class="text-danger small">
                            {{ form.choice_2.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                    <label for="{{ form.choice_3_for_label }}" class="form-label">
                        選択肢3
                    </label>
                    <br>
                    {{ form.choice_3 }}
                    {% if form.choice_3.errors %}
                        <div class="text-danger small">
                            {{ form.choice_3.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                    <label for="{{ form.choice_4_for_label }}" class="form-label">
                        選択肢4
                    </label>
                    <br>
                    {{ form.choice_4 }}
                    {% if form.choice_4.errors %}
                        <div class="text-danger small">
                            {{ form.choice_4.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                    <label for="{{ form.answer_for_label }}" class="form-label">
                        解答
                    </label>
                    <br>
                    {{ form.answer }}
                    {% if form.answer.errors %}
                        <div class="text-danger small">
                            {{ form.answer.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                    <label for="{{ form.explanation_for_label }}" class="form-label">
                        解説文
                    </label>
                    <br>
                    {{ form.explanation }}
                    {% if form.explanation.errors %}
                        <div class="text-danger small">
                            {{ form.explanation.errors.as_text }}
                        </div>
                    {% endif %}
                    <br><br>

                </div>

                <button type="submit" class="button_update">更新</button>
            </form>

            <a href="{% url 'question:index' %}" class="moving_link">
                    問題一覧に戻る
            </a>
        </div>
    </div>

{% endblock content %}
