/* 共通 */
html{
    background-image:url(../images/background.jpg);
    background-size: cover;
}

body {
    background-color: white;
    margin: 0 auto;
    width: 1040px;
    height: auto;
    font-family: sans-serif;
    border: 1px black solid;
}

a{
    text-decoration: none;
}

table{
    width: 870px;
    border: 1px solid gray;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin:20px auto;
}

th, td {
    border: 1px solid gray;
}

th{
    background-color: #C2EEFF;
}

.td_item_left{
    text-align: left;
}


/* ヘッダー部分 */
header {
    width:1000px;
    margin:0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #38b6ff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo{
}

.logout{
    font-size:24px;
    font-weight: bold;
    margin-right: 10px;
}

.logout a{
    color:white;
}


/* 認証関係 */
.auth-container {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-box{
    width: 700px;
    padding-bottom:50px;
    border: 2px solid black;
    background-color: #D7EEFF;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
}

.auth-box p{
    font-size: 28px;
    font-weight: bold;
}

.input_item{
    font-size:22px;
    font-weight: bold;
}

.input_item_text{
    height:30px;
    font-size:22px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.moving_link{
    margin-top:20px;
    font-size:22px;
    font-weight: bold;
    color:#3C58D6;
}


/* トップ画面 */
.user_info{
    margin-top: 80px;
    margin-right: 100px;
    color:black;
    font-size:22px;
    font-weight: bold;
    text-align: right;
    position: relative;
}

.account_icon{
    position: absolute;
    top:0px;
}

.chara_icon{
    position: absolute;
    top:-10px;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 50px; /* ボックス間のスペース */
}

.box {
    width: 350px;
    height: 400px;
    padding-bottom:50px ;
    border: 2px solid black;
    display: flex;
    flex-direction: column; /* 子要素を縦に並べる（デフォルトは横（row）） */
    justify-content: center;
    align-items: center;
    background-color: #D7EEFF;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
}

.box p{
    font-size: 28px;
    font-weight: bold;
}


/* アカウント編集 */
.account-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.account-box{
    width: 700px;
    padding-bottom:50px;
    border: 2px solid black;
    background-color: #D7EEFF;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
}

.account-box p{
    font-size: 28px;
    font-weight: bold;
}



/* 問題管理画面 */

.question_container{
    margin:50px auto;
}

.question_container h1{
    text-align: center;
}

.question-area{
    margin:0 auto;
    height:150px;
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question_create_area{
    width:330px;
    font-size: 20px;
    font-weight: bold;
    margin:0 auto;
}


/* 問題実施画面 */
.question-box {
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.question-area{
    border: 4px double #333;
    padding: 10px;
    height: auto;
    width: 800px;
    background-color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    margin-top: 20px;
    box-shadow: 2px 2px 2px black;
}

.timer-area{
    width: 800px;
    text-align: center;
    margin: 10px auto;
}

#timer-bar {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}
#timer-fill {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, blue, skyblue);
    transition: width 1s linear;
}

#timer-fill.danger {
    background: linear-gradient(to right, #f44336, #e57373); /* 赤グラデーション */
}

#countdown {
    font-weight: bold;
    color: red;
}

.remaining_time{
    font-size: 20px;
}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 700px;
    margin:10px auto;
    justify-content: center;
    margin-bottom: 10px;
}

.choice {
    border: 2px solid #666;
    padding: 15px 25px;
    background-color:#EAF3FF;
    cursor: pointer;
    border-radius: 10px;
    min-width: 120px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s;
    box-shadow: 2px 2px 2px black;
}

.choice:hover {
    background-color: #5C73DB;
}

.point_total{
    font-size: 28px;
}

.point_detail{
    width:240px;
    font-size: 16px;
    text-align: left;
}

.title_name{
    font-size: 24px;
}

.result-box {
    border: 4px double #333;
    padding: 30px;
    width: 800px;
    background-color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
}

.correct_mark{
    color:red;
    font-size: 20px;
    font-weight: bold;    
}

.incorrect_mark{
    color:blue;
    font-size: 20px;
    font-weight: bold;    
}

.container_temp{
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/* 解答画面 */
.standart-box {
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    padding-bottom:60px;
}

.explanation-area{
    border: 4px double #333;
    height: auto;
    width: 700px;
    background-color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 10px auto;
    padding:20px 20px;
    box-shadow: 2px 2px 2px black;
}

.choice_answer {
    border: 2px solid #666;
    padding: 15px 25px;
    background-color:#EAF3FF;
    border-radius: 10px;
    min-width: 120px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
}

/* 経験値取得画面 */
.exp_message{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.container_levelup {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 80px; /* ボックス間のスペース */
    margin-top: 50px;
}


/* 各種ボタン */
.button_decision {
    width: 200px;
    height: 70px;
    padding: 8px 16px;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 24px;
    font-weight: bold;
    color:white;
    background-color:#3E8FE6;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
}

.button_home {
    width: 200px;
    height: 70px;
    padding: 8px 16px;
    margin-top:20px;
    margin-bottom:20px;
    font-size: 24px;
    font-weight: bold;
    color:white;
    background-color:#3E8FE6;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
}

.button_choice{
    background-color:#5C73DB;
}

.button_input{
    background-color:#223DB6;
}

.button_update{
    margin-bottom: 20px;
}

.button_create{
    display: block;
    width: 185px;
    height: 28px;
    float: right;
    margin-bottom:10px;
    margin-right:72px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: #005FFF;
    text-align: center;
    font-size:17px;
    font-weight: bold;
    color:white;
}

.button_edit{
    display: block;
    width: 60px;
    height: 25px;
    margin:10px auto;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: #8EB8FF;
    font-size:17px;
    font-weight: bold;
    color:black;
}

.button_delete{
    display: block;
    width: 60px;
    height: 25px;
    margin:auto;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: #BBBBBB;
    font-size:17px;
    font-weight: bold;
    color:black;
}

.button_start{
    width: 300px;
    height: 70px;
    font-size: 28px;
    line-height: 10px;
    background-color: blue;
    color:white;
    text-align: center;
    margin-bottom: 20px;
}


.button_return{
    width: 220px;
    height: 50px;
    font-size: 20px;
    line-height: 10px;
    background-color: #ccc;
    color:black;
    text-align: center;
}

.button_answer{
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 10px;
    margin: 10px auto;
}
