{% extends 'base.html' %}
{% load static %}
{% block title %}ランキング{% endblock %}

{% block content %}

    <div class="ranking-area">
        <div class="tab-buttons">
            <div class="tab-button tab-button-choice active" onclick="switchTab(0)">選択問題</div>
            <div class="tab-button tab-button-input" onclick="switchTab(1)">記述問題</div>
        </div>
        
        <div class="tab-content active">
            <div class="ranking_title">
                <p>～ランキング（選択問題）～</p>
            </div>

            ******************************************************************************************************

            <table class="ranking_table">
                <thead>
                    <tr>
                        <th width="30px" class="ranking_th"></th>
                        <th width="30px" class="ranking_th">順位</th>
                        <th width="300px" class="ranking_th">ユーザ名</th>
                        <th width="30px" class="ranking_th">得点</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ranking_CHOICE %}
                        <tr height="66">

                            {% if item.ranking == 1 %}
                                <td class="ranking_td"><img src="{% static 'images/gold.png' %}" width="40" height="30"></td>
                            {% elif item.ranking == 2 %}
                                <td class="ranking_td"><img src="{% static 'images/silver.png' %}" width="40" height="30"></td>
                            {% elif item.ranking == 3 %}
                                <td class="ranking_td"><img src="{% static 'images/bronze.png' %}" width="40" height="30"></td>
                            {% else %}
                                <td class="ranking_td"></td>
                            {% endif %}
                          
                            {% if item.ranking == 1 %}
                                <td class="ranking_td color_gold">{{ item.ranking }}位</td>
                            {% elif item.ranking == 2 %}
                                <td class="ranking_td color_silver">{{ item.ranking }}位</td>
                            {% elif item.ranking == 3 %}
                                <td class="ranking_td color_bronze">{{ item.ranking }}位</td>
                            {% else %}
                                <td class="ranking_td">{{ item.ranking }}位</td>
                            {% endif %}

                            <td class="ranking_td">　{{ item.history.user.name }}</td>

                            <td class="ranking_td">{{ item.history.score }}</td>

                          </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="tab-content">
            <div class="ranking_title">
                <p>～ランキング（記述問題）～</p>
            </div>

            ******************************************************************************************************

            <table class="ranking_table">
                <thead>
                    <tr>
                        <th width="30px" class="ranking_th"></th>
                        <th width="30px" class="ranking_th">順位</th>
                        <th width="300px" class="ranking_th">ユーザ名</th>
                        <th width="30px" class="ranking_th">得点</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ranking_INPUT %}
                        <tr height="66">

                            {% if item.ranking == 1 %}
                                <td class="ranking_td"><img src="{% static 'images/gold.png' %}" width="40" height="30"></td>
                            {% elif item.ranking == 2 %}
                                <td class="ranking_td"><img src="{% static 'images/silver.png' %}" width="40" height="30"></td>
                            {% elif item.ranking == 3 %}
                                <td class="ranking_td"><img src="{% static 'images/bronze.png' %}" width="40" height="30"></td>
                            {% else %}
                                <td class="ranking_td"></td>
                            {% endif %}
                          
                            {% if item.ranking == 1 %}
                                <td class="ranking_td color_gold">{{ item.ranking }}位</td>
                            {% elif item.ranking == 2 %}
                                <td class="ranking_td color_silver">{{ item.ranking }}位</td>
                            {% elif item.ranking == 3 %}
                                <td class="ranking_td color_bronze">{{ item.ranking }}位</td>
                            {% else %}
                                <td class="ranking_td">{{ item.ranking }}位</td>
                            {% endif %}

                            <td class="ranking_td">　{{ item.history.user.name }}</td>

                            <td class="ranking_td">{{ item.history.score }}</td>

                          </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
        <a href="{% url 'home:index' %}">
            <button class="button_return">トップページに戻る</button>
        </a>

    </div>

    <script>
        function switchTab(index) {
            const tabs = document.querySelectorAll('.tab-button');
            const contents = document.querySelectorAll('.tab-content');
    
            tabs.forEach((tab, i) => {
                tab.classList.toggle('active', i === index);
                contents[i].classList.toggle('active', i === index);
            });
        }

    </script>

{% endblock content %}
