{% extends 'base.html' %}
{% block title %}解答{% endblock %}

{% block content %}

    <div class="standart-box">

        <div class="explanation-area question-text">
            【問題】
            <br>
            {{ question.question|linebreaksbr }}
        </div>

        {% if question.rank_id == 1 %}
            <div class="choices">
                <div class="choice_answer">
                    {{ question.choice_1 }}
                </div>
                <div class="choice_answer">
                    {{ question.choice_2 }}
                </div>
                <div class="choice_answer">
                    {{ question.choice_3 }}
                </div>
                <div class="choice_answer">
                    {{ question.choice_4 }}
                </div>
            </div>
        {% endif %}

        <div class="explanation-area">
            【解答】　{{ question.answer }}
        </div>

        <div class="explanation-area">
            【解説】
            <br>
            {{ question.explanation|linebreaksbr }}
        </div>

        <div class="choices">
            <a href="{% url 'history:delete' question.id %}" onclick="return confirm('この問題を削除してもよろしいですか？');">
                <button class="button_return">一覧から削除</button>
            </a>

            <a href="{% url 'history:incorrect' %}">
                <button class="button_return">不正解一覧画面に戻る</button>
            </a>
        </div>

    </div>

{% endblock content %}
