{% extends 'base.html' %} 
{% block title %}ログイン{% endblock %}

{% block content %}

    <div class="auth-container">
        <div class="auth-box">
            <p>ログイン</p>

            <form method="post">
                {% csrf_token %}

                <div class="input_item">
                    {{ form.username.label_tag }}　
                    {{ form.username }}
                </div>
                <br>
              
                <div class="input_item">
                    {{ form.password.label_tag }}　　　
                    {{ form.password }}
                </div>
                <br>

                {% if form.non_field_errors %} 
                    {% for error in form.non_field_errors %}
                        <div class="text-danger">
                            {{ error }}
                        </div>
                    {% endfor %} 
                {% endif %}
              
                <button type="submit" class="button_decision">
                    ログイン
                </button>
            </form>

            <a href="{% url 'user:signup' %}" class="moving_link">
                新規登録はこちら
            </a>

        </div>
    </div>
{% endblock %}
