{% extends 'base.html' %}
{% block title %}ユーザ一覧{% endblock %}

{% block content %}

    <div class="incorrect_container">

        <h1>ユーザ一覧</h1>

        <table>
            <thead>
                <tr>
                    <th width="80px">ユーザ名</th>
                    <th width="200px">メールアドレス</th>
                    <th width="150px">作成日時</th>
                    <th width="40px">管理者</th>
                    <th width="50px">削除</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="td_item_left">{{ user.name }}</td>
                        <td class="td_item_left">{{ user.email }}</td>
                        <td>{{ user.created_at|date:"Y年n月j日 G時i分" }}</td>
                        <td>
                            {% if user.is_staff == True %}
                                ●
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'user:delete' user.pk %}" class="button_delete" onclick="return confirm('このユーザを削除してもよろしいですか？');">
                                削除
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'home:index' %}">
            <button class="button_return">トップページに戻る</button>
        </a>

    </div>
{% endblock content %}

